html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #930193;
  }

  .form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    grid-gap: 20px
  }
